.vs-tt{
    font-family: valFont;
}

#video-section div{     
    background: 
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        /* url(https://images.unsplash.com/photo-1614030424754-24d0eebd46b2) */
        /* url(/assets/background-gif.gif) */
        url(https://live.staticflickr.com/65535/52069733968_d21e3a9693_h.jpg)
        ;  
    background-position: top;
    height: 100vh;
    background-size: cover;
    color: rgb(255, 230, 0);
    font-size: 3em;
    text-shadow: 100px 100px 100px 100px black;
    

}
